# Python Exercise #2
Date: 2021년 3월 22일

## Practice 3 - `pandas`

_Practice 1_ 은 잘 하셨나요? 앞으로 모든 `pandas` 연습문제는 _Practice 1_ 을 해결한 것과 같은 방식으로 읽어야 할거에요.

그럼 아래의 `new_str`을 다시 데이터로 만들어봐요

```python
new_str = """name age email
jang    40  eundong.jang@igloosec.com
chris   30  chris.kim@igloosec.com
jinie   20  hyejin.park@igloosec.com
simon   30  jonghyeok.lee@igloosec.com
sonia   20  namju.kim@igloosec.com
sooji   20  sooji.noh@igloosec.com
"""
```

### 3.1 Name starts with capital letter

영어에서 이름은 대문자로 시작한다는 것, 다들 알고 있잖아요?

우리 이름들도 다 대문자로 시작하게 만들어주세요

* 조건1: `for` 은 사용할 수 없어요

잘 되었을 경우 아래와 같이 나올거에요

In [13]:
df

    name  age                       email
0   Jang   40   eundong.jang@igloosec.com
1  Chris   30      chris.kim@igloosec.com
2  Jinie   20    hyejin.park@igloosec.com
3  Simon   30  jonghyeok.lee@igloosec.com
4  Sonia   20      namju.kim@igloosec.com
5  Sooji   20      sooji.noh@igloosec.com

### 3.2 성은 싫어

이메일 주소에 성까지 쓰면 너무 거리두는 것 같다는 의견이 나왔어요.
6개의 이메일 주소에서 모두 성을 빼줘야해요.

* 조건1: `for`은 사용할 수 없어요

잘 되었을 경우 아래와 같이 나올거에요

In [35]:
df

    name  age               email
0   Jang   40    eundong@igloosec
1  Chris   30      chris@igloosec
2  Jinie   20     hyejin@igloosec
3  Simon   30  jonghyeok@igloosec
4  Sonia   20      namju@igloosec
5  Sooji   20      sooji@igloosec

## Practice 4 - `combinations`

ML 파트는 파트 내의 화합을 위해 모든 구성원의 조합으로 식사를 하려고 해요.

```python
part = ['Jang', 'Chris', 'Jinie', 'Simon', 'Sonia', 'Sooji']
```

최소 2명부터, 최대 6명까지 모든 조합의 수를 **직접** 구하세요.


잘 되었을 경우 아래와 같이 나올거에요.

In [44]:
result

[('Jang', 'Chris'),
 ('Jang', 'Jinie'),
 ('Jang', 'Simon'),
 ('Jang', 'Sonia'),
 ('Jang', 'Sooji'),
 ('Chris', 'Jinie'),
 ('Chris', 'Simon'),
 ('Chris', 'Sonia'),
 ('Chris', 'Sooji'),
 ('Jinie', 'Simon'),
 ('Jinie', 'Sonia'),
 ('Jinie', 'Sooji'),
 ('Simon', 'Sonia'),
 ('Simon', 'Sooji'),
 ('Sonia', 'Sooji'),
 ('Jang', 'Chris', 'Jinie'),
 ('Jang', 'Chris', 'Simon'),
 ('Jang', 'Chris', 'Sonia'),
 ('Jang', 'Chris', 'Sooji'),
 ('Jang', 'Jinie', 'Simon'),
 ('Jang', 'Jinie', 'Sonia'),
 ('Jang', 'Jinie', 'Sooji'),
 ('Jang', 'Simon', 'Sonia'),
 ('Jang', 'Simon', 'Sooji'),
 ('Jang', 'Sonia', 'Sooji'),
 ('Chris', 'Jinie', 'Simon'),
 ('Chris', 'Jinie', 'Sonia'),
 ('Chris', 'Jinie', 'Sooji'),
 ('Chris', 'Simon', 'Sonia'),
 ('Chris', 'Simon', 'Sooji'),
 ('Chris', 'Sonia', 'Sooji'),
 ('Jinie', 'Simon', 'Sonia'),
 ('Jinie', 'Simon', 'Sooji'),
 ('Jinie', 'Sonia', 'Sooji'),
 ('Simon', 'Sonia', 'Sooji'),
 ('Jang', 'Chris', 'Jinie', 'Simon'),
 ('Jang', 'Chris', 'Jinie', 'Sonia'),
 ('Jang', 'Chris', 'Jinie', 'Sooji'),
 ('Jang', 'Chris', 'Simon', 'Sonia'),
 ('Jang', 'Chris', 'Simon', 'Sooji'),
 ('Jang', 'Chris', 'Sonia', 'Sooji'),
 ('Jang', 'Jinie', 'Simon', 'Sonia'),
 ('Jang', 'Jinie', 'Simon', 'Sooji'),
 ('Jang', 'Jinie', 'Sonia', 'Sooji'),
 ('Jang', 'Simon', 'Sonia', 'Sooji'),
 ('Chris', 'Jinie', 'Simon', 'Sonia'),
 ('Chris', 'Jinie', 'Simon', 'Sooji'),
 ('Chris', 'Jinie', 'Sonia', 'Sooji'),
 ('Chris', 'Simon', 'Sonia', 'Sooji'),
 ('Jinie', 'Simon', 'Sonia', 'Sooji'),
 ('Jang', 'Chris', 'Jinie', 'Simon', 'Sonia'),
 ('Jang', 'Chris', 'Jinie', 'Simon', 'Sooji'),
 ('Jang', 'Chris', 'Jinie', 'Sonia', 'Sooji'),
 ('Jang', 'Chris', 'Simon', 'Sonia', 'Sooji'),
 ('Jang', 'Jinie', 'Simon', 'Sonia', 'Sooji'),
 ('Chris', 'Jinie', 'Simon', 'Sonia', 'Sooji'),
 ('Jang', 'Chris', 'Jinie', 'Simon', 'Sonia', 'Sooji')]